.credentials {
  max-width: 290px;
  padding: 5vh;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.credentials > form {
  display: grid;
  flex-direction: column;
}

.credentials > form > h1 {
  margin-bottom: 25px;
}

.credentials > form > input {
  outline-width: 0;
  height: 40px;
  margin-bottom: 14px;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
}

.credentials > form > button {
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  border-radius: 5px;
  background-color: #e50914;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.credentials h4 {
  text-wrap-mode: nowrap;
}

.credentials__gray {
  color: gray;
}

.credentials__link:hover {
  cursor: pointer;
  text-decoration: underline;
}
/* Overlay styling */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Make sure it’s on top */
}

/* Alert box styling */
.overlay-alert {
  background: black;
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 280px;
  height: 120px;
  box-shadow: 0px 0px 100px 30px rgb(255 255 255 / 12%);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* OK button styling */
.overlay-alert button {
  padding: 10px 20px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 1;
}

.overlay-alert button:hover {
  opacity: 0.8;
}
